body{
    padding: 0px;
    background-color: black; 
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.container{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.container img{
    width: calc(25% - 10px);
    height: auto;
    margin-bottom: 20px;
}

.content{
    margin: 50px;
}

#manage_button{
    position: absolute;
    top: 100px;
    right: 100px;
    width: 150px;
    height: 30px;
    background-color: slategrey;
    border: none;
    color: black;
    border-radius: 10px;
}